.settings
.classpath
.project
target/
target-eclipse/
bin/
activemq-data
build
.idea/
.gradle
auditlog/
.externalToolBuilders/
*~
.DS_Store
.idea
out
*.iml
nb-configuration.xml
*.log
*.log.?
hornetq-data/
node_modules
.java-version
logs/
*.docx
*.factorypath
*.7z
*.zip
*.gz
.dbeaver/
Scripts/Script.sql
*.patch
